.box {
	display: flex;
}

.left {
	background: #006bb8;
	padding: 5px;
	border-radius: 3px 0 0 3px;
	color: #fff;
}

.right {
	background: #006bb818;
	padding: 5px;
	border-radius: 0 3px 3px 0;
	color: #006bb8;
}
